Repository ZhenShuo2021/ZhenShuo2021.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, biome-lint

markdownlint:
  name: Lint Markdown files
  entry: pnpm markdownlint-cli2 --config ".markdownlint.json" "#node_modules"
  language: node
  description: Run markdownlint-cli2 on markdown files in content directory

biome-lint:
  name: Lint scripts and SCSS with Biome
  entry: pnpm biome check
  language: node
  description: Run biome check on JS/TS/SCSS files in scripts and assets/scss directories

feat: add dev.js and log.js for pnpm serve
  assets/css/.gitkeep
  package.json
  scripts/dev.js
  scripts/shiki/logger.js
Due: biome-lint

fix: shiki script
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/shiki/file-collector.js
  scripts/shiki/highlighter.js
  scripts/shiki/index.js
  scripts/shiki/worker.js
Due: biome-lint

style: enhance readibility of highlight script
  package.json
  scripts/highlight.js
  scripts/shiki/config.js
  scripts/shiki/file-collector.js
  scripts/shiki/highlighter.js
  scripts/shiki/index.js
  scripts/shiki/worker.js
Due: biome-lint

perf: shiki script
  package.json
  pnpm-lock.yaml
  scripts/shiki/bench.py
  scripts/shiki/config.js
  scripts/shiki/highlighter.js
  scripts/shiki/index.js
  scripts/shiki/worker.js
Due: biome-lint

fix: code block copy buttom
  assets/js/code.js
  config/_default/markup.toml
  layouts/_default/single.html
  layouts/partials/custom/copy.html
  layouts/partials/custom/inject.html
Due: none

fix: mobile menu
  layouts/partials/head.html
Due: none

docs: add article ssg-tools-comparison
  content/posts/ssg-tools-comparison/index.md
Due: markdownlint

chore: update workflow to shiki script
  .github/workflows/pages.yaml
Due: none

docs: add article use-shiki-in-hugo
  content/posts/use-shiki-in-hugo/0.webp
  content/posts/use-shiki-in-hugo/1.webp
  content/posts/use-shiki-in-hugo/2.webp
  content/posts/use-shiki-in-hugo/index.md
  scripts/shiki/analysis_filesize.py
Due: markdownlint

docs: update shiki readme
  README.md
Due: none

feat: shorten ol ul spacing
  assets/scss/_typography.scss
  assets/scss/_variables.scss
Due: biome-lint

fix: mermaid broken issue with hugo minify
  .github/workflows/pages.yaml
Due: none

chore: polish shiki
  assets/js/code.js
  scripts/shiki/config.js
Due: biome-lint

docs: polish
  content/posts/ssg-tools-comparison/index.md
  content/posts/use-shiki-in-hugo/index.md
Due: markdownlint

fix: HUGO_CACHEDIR in ci
  .github/workflows/pages.yaml
Due: none

feat: add dev-example.js
  scripts/dev-example.js
Due: biome-lint

docs: improve shiki clearity
  content/posts/ssg-tools-comparison/index.md
  content/posts/use-shiki-in-hugo/index.md
Due: markdownlint

fix: css of article title hover
  assets/scss/_links.scss
Due: biome-lint

docs: add jottings 20250502
  content/jottings/20250502/index.md
  content/posts/ssg-tools-comparison/index.md
  content/posts/use-shiki-in-hugo/index.md
  content/timeline/2025.md
Due: markdownlint

chore: update hugo version in CI
  .github/workflows/pages.yaml
Due: none

fix: dark mode issue in new Blowfish version
  assets/scss/_typography.scss
Due: biome-lint

chore: fix pre-commit path
  .pre-commit-config.yaml
Due: none

feat: use submodule
  .gitmodules
Due: none

feat: use submodule
  .gitmodules
  README.md
  update-blowfish.py
  update-blowfish.sh
Due: none

chore: cleanup layouts directory
  config/_default/params.toml
  layouts/partials/hero/basic.html
  layouts/partials/hero/big.html
  layouts/partials/hero/custom-background-hero.html
  layouts/partials/hero/thumbAndBackground.html
  layouts/partials/home/custom-background-home.html
Due: none

chore: use husky
  .editorconfig
  .husky/pre-commit
  .markdownlint-cli2.yaml
  .markdownlint.json
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  biome.json
  package.json
  pnpm-lock.yaml
Due: none

chore: format files
  .github/workflows/pages.yaml
  assets/js/code.js
  assets/scss/_base.scss
  assets/scss/_code.scss
  assets/scss/_components.scss
  assets/scss/_links.scss
  assets/scss/_typography.scss
  assets/scss/_variables.scss
  assets/scss/main.scss
  assets/scss/shortcode/_admonition.scss
  assets/scss/shortcode/_expand.scss
  config/_default/params.toml
  layouts/_default/archive.html
  layouts/_default/single.html
  layouts/_default/terms.html
  layouts/partials/article-link/card-related.html
  layouts/partials/article-meta/basic.html
  layouts/partials/badge.html
  layouts/partials/custom/inject.html
  layouts/partials/custom/tag-cloud.html
  layouts/partials/extend-head.html
  layouts/partials/head.html
  layouts/partials/home/custom-background-home.html
  layouts/partials/series/series.html
  layouts/partials/series/series_base.html
  layouts/shortcodes/button.html
  layouts/shortcodes/codeimporter.html
  layouts/shortcodes/expand.html
  layouts/shortcodes/hint.html
  scripts/dev-example.js
  scripts/dev.js
  scripts/shiki/config.js
  scripts/shiki/worker.js
Due: biome-lint

docs: create new section til, add new article hugo-dev-setup
  config/_default/menus.zh-tw.toml
  config/_default/params.toml
  content/til/_index.zh-tw.md
  content/til/how-to-develope-with-hugo/index.md
  scripts/shiki/config.js
Due: markdownlint, biome-lint

chore: update css code tag and font size
  assets/scss/_code.scss
  assets/scss/_typography.scss
Due: biome-lint

docs: cleanup
  content/posts/01-git/git-intro.md
  content/posts/02-linux/useful-docker-commands/index.md
  content/posts/02-linux/useful-linux-commands/index.md
  content/posts/blog-birth/index.md
  content/posts/docker-day-one/index.md
  content/posts/exiftool/index.en-us.md
  content/posts/exiftool/index.md
  content/posts/hugo-blowfish-features/index.md
  content/posts/hugo-blowfish-fix/index.md
  content/posts/hugo-blowfish-setup/index.md
  content/posts/truenas-docker/index.md
  content/posts/truenas-smb/index.md
  content/posts/webp-performance/index.md
  content/til/how-to-develope-with-hugo/index.md
Due: markdownlint

docs: add article 20250514
  config/_default/markup.toml
  content/jottings/20250514/index.md
  content/posts/ssg-tools-comparison/index.md
Due: markdownlint

feat: add a list page for mainSections
  .prettierignore
  config/_default/menus.zh-tw.toml
  config/_default/params.toml
  content/more-articles/_index.md
  content/more-articles/trigger-hugo-to-generate-list.md
  layouts/_default/list-for-more-articles.html
Due: markdownlint

fix: improve apperance
  assets/scss/_base.scss
  assets/scss/_code.scss
  assets/scss/_components.scss
  assets/scss/_links.scss
  layouts/_default/archive.html
  layouts/_default/single.html
  layouts/partials/hero/custom-background-hero.html
  layouts/partials/home/custom-background-home.html
Due: biome-lint

chore: cleanup package.json
  package.json
  pnpm-lock.yaml
  scripts/dev.js
Due: biome-lint

fix: correct configuration
  config/_default/hugo.toml
  config/_default/markup.toml
  config/_default/menus.zh-tw.toml
  config/_default/params.toml
  content/jottings/20240728-pagespeed/index.md
  content/jottings/20240730-amd-product-name/index.md
  content/jottings/20240803-find-a-nice-theme/index.md
  content/jottings/20240812-junkpost/index.md
  content/jottings/20240826-python-dis/index.md
  content/jottings/20240923-unbelievable-thecus/index.md
  content/jottings/20241025-overwhelm-by-garbage-content/index.md
  content/jottings/20241030-warcraft3-minigame/index.md
  content/jottings/20241103-python-queue/index.md
  content/jottings/20241204-bad-google-search-ranking/index.md
  content/jottings/20250502-blowfish-v2.85.1/index.md
  content/jottings/20250514-a-fail-ask-experience/index.md
Due: markdownlint

add article 20250522-biaukai-on-mac
  content/jottings/20250522-biaukai-on-mac/index.md
  content/posts/PkDownload-Error-Code-8/index.md
  content/timeline/2025.md
Due: markdownlint

Path conditions:
  markdownlint: any of: ^content/.*\.md$
  biome-lint: any of: ^(scripts/|assets/scss/).*\.(js|ts|scss)$
