Repository ZhenShuo2021/ZhenShuo2021.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, biome-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        entry: pnpm markdownlint-cli2 --config ".markdownlint.json" "#node_modules"
        language: node
        files: ^content/.*\.md$
        description: Run markdownlint-cli2 on markdown files in content directory

      - id: biome-lint
        name: Lint scripts and SCSS with Biome
        entry: pnpm biome check
        language: node
        files: ^(scripts/|assets/scss/).*\.(js|ts|scss)$
        description: Run biome check on JS/TS/SCSS files in scripts and assets/scss directories

feat: docusaurus-like admonition
  assets/scss/_variables.scss
  assets/scss/shortcode/_admonition.scss
  content/posts/99-cheatsheet/cheatsheet-hugo.md
  layouts/shortcodes/hint.html
Due: markdownlint, biome-lint

fix: incorrect settings
  .prettierignore
  i18n/zh-TW.yaml
  layouts/partials/archive.html
  layouts/partials/extend-head.html
  layouts/partials/favicons.html
  layouts/partials/head.html
  layouts/partials/list-for-more-articles.html
  layouts/partials/series/series.html
  layouts/partials/series/series_base.html
  layouts/robots.txt
  static/.nojekyll
  static/CNAME
  static/android-chrome-192x192.png
  static/android-chrome-512x512.png
  static/apple-touch-icon.png
  static/favicon-16x16.png
  static/favicon-32x32.png
  static/favicon.ico
  static/favicon/site.webmanifest
  static/googlee722738e1de41a1a.html
  static/js/clipboard.min.js
  static/js/hljs-copy.js
Due: none

docs: add article tailwind-in-hugo-is-a-scam
  content/posts/tailwind-in-hugo-is-a-scam.md
Due: markdownlint

fix: package.json commnads
  package.json
Due: none

prepare migrate
  .gitmodules
Due: none

migrate: update package.json
  package.json
  pnpm-lock.yaml
Due: none

fix: theme-color config
  config/_default/config.toml
  package.json
  pnpm-lock.yaml
Due: none

chore: clean dead code
  CNAME
  README.md
  assets/js/code.js
  content/jottings/20240812-junkpost/index.md
  content/posts/02-linux/clean-linux-settings/index.md
  content/posts/99-cheatsheet/cheatsheet-hugo.md
  content/posts/cloudflare-tunnel-ddns-guide/index.md
  content/posts/ffmpeg/index.md
  content/posts/hugo-blowfish-features/index.md
  content/posts/hugo-blowfish-fix/index.md
  content/posts/hugo-syntax-highlighter/index.md
  content/posts/python-refactoring-journey/index.md
  content/posts/truenas-smb/index.md
  layouts/shortcodes/expand.html
  pnpm-workspace.yaml
Due: markdownlint

feat: add article series function
  assets/scss/custom/_custom.scss
  assets/scss/custom/_series.scss
  config/_default/config.toml
  layouts/partials/pages/post.html
  layouts/partials/pages/series.html
Due: biome-lint

chore: improve appearance
  assets/scss/custom/_custom.scss
  config/_default/config.toml
Due: biome-lint
